@charset "utf-8";


* {
	margin:0px;
	padding:0px;
}

[class*='div'] {
	position: absolute;
	width: 100px;
	height: 100px;
	display: none;
}

.div1 {
	display: none;
	top: 30px;
	left: 30px;
	background-color: red;
}

.div2 {
	display: none;
	top: 30px;
	left: 60px;
	background-color: lightblue;
}

.div3 {
	display: none;
	top: 30px;
	left: 90px;
	background-color: darkgrey;
}